* {
  margin: 0;
  padding: 0;
}

:root {
  font-family: 'myfont' !important;
}

html, body {
  min-width: 670px;
  height: 100%;
}

#app {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
